* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
main {
  width: 100%;
  height: 100vh;
  background-color: aliceblue;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url("https://vanilla-js-basic-project-6-modal.netlify.app/hero.jpeg")
    center/cover no-repeat;
}
.modal {
  width: 50%;
  height: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  gap: 50px;
  z-index: 10;
}

.modal-show {
  display: none;
  width: 30%;
  height: 25%;
  position: absolute;
  top: 40%;
  left: 35%;
  z-index: 500;
  animation-name: fadeup;
  animation-duration: 0.25s;
}
@keyframes fadeup {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.modal-content {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  /* z-index: 300; */
}
.cross {
  width: 30px;
  position: absolute;
  top: 20px;
  right: 20px;
}
.active {
  display: flex;
  opacity: 1;
}
.blur {
  background-color: aquamarine;
  opacity: 0.5;
  z-index: 20;
}

section {
  position: absolute;
  width: 100vw;
  height: 100vh;
}
