body {
  font-size: 16px;
  font-family: sans-serif;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 3rem;
}

.watch-timer {
  border: 1px solid black;
  height: 10rem;
  width: 10rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
}

.btn-container {
  margin-top: 2rem;
}

.btn {
  text-transform: uppercase;
  background: transparent;
  color: black;
  padding: 0.375rem 0.75rem;
  letter-spacing: 1px;
  display: inline-block;
  font-weight: 700;
  transition: all 0.3s linear;
  font-size: 0.875rem;
  border: 2px solid black;
  cursor: pointer;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  width: 10rem;
  border-radius: 0.4rem;
  margin: 0 0.5rem;
}

.active:hover {
  color: white;
  background: black;
}

.hidden {
  display: none;
}

.lap-data {
  height: 15rem;
  width: 20rem;
  overflow: auto;
  margin-top: 4rem;
}

.lap {
  display: flex;
  justify-content: space-between;
  height: 5rem;
  align-items: center;
}

.gap {
  padding-right: 2rem;
}
